* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.card {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  width: 280px;
  align-items: center;
  height: 120px;
  border-radius: 10px;
  padding: 10px;
}
.block {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 5px;
  justify-items: center;
}
.block2 {
  margin: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.total{
    font-size: 20px;
    font-weight: bold;
}
